WeatherBundles/HumidityServices/src/main/resources/xsd/Humidity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jasmine.com/Humidity" xmlns:tns="http://jasmine.com/Humidity" elementFormDefault="qualified">

	<xsd:element name="getHumidity">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getHumidityResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

</xsd:schema>